/* allow the elements to fill the viewport*/
html,body{
    width:100%;
    height:100%;
    padding: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.flip-up-wrapper {
    flex-grow: 2;
    flex-basis: 0;
}

/* Pointer events happen only on the interior
of this element*/
/*.flip-up-component-wrapper is the an element
that wraps both the font, back, and stroke of a flap */
.flip-up-component-wrapper {
    pointer-events: all
}

/* The cursor should always be a pointer
 for active flaps*/
.flip-up-component-wrapper.active {
    cursor: pointer !important
}

/* The cursor should always be a pointer
 for previous flaps */
.flip-up-component-wrapper.previous {
    cursor:pointer !important
}

/* Each flap should */
.component-border {
    opacity: 0;
}

/*.flip-up-wrapper */
/* Is this necessary given the next line? */
/*.flip-up-wrapper:hover .active .component-border {
    opacity: 1;
}*/

.flip-up:hover .active .component-border {
    opacity: 1;
}

/* entire container, keeps perspective */
.flip-up-component-wrapper {
	perspective: 1000px;
    /*
    if a component is in the rotated state,
    the back of the initial component should be hidden
    */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

/* flip the pane when hovered */
/* flipper contains the back and front of the component */
.flip-dir-left .flipped .flipper {
    /*
    transform-box indicates that a transform
    should happen in reference to the element's (i.e., the flap)
    bounding box
    */
    transform-box: fill-box;
    /*
    Rotate 180 deg around the y-axis,
    negative values indicate the rotation to the left
    */
    transform: rotateY(-180deg);
}

.flip-dir-right .flipped .flipper {
    transform-box: fill-box;
    /*
    Rotate 180 deg around the y-axis,
    positive values indicate the rotation to the right
    */
	transform: rotateY(180deg);
}

.flip-dir-up .flipped .flipper {
    transform-box: fill-box;
    /*
    Rotate 180 deg around the x-axis,
    positive values indicate the rotation to the top
    */
    transform: rotateX(180deg);
}

.flip-dir-down .flipped .flipper {
    transform-box: fill-box;
    /*
    Rotate 180 deg around the x-axis,
    negative values indicate the rotation to the bottom
    */
    transform: rotateX(-180deg);
}

/* .flipper contains the back and front of the component */
/* flip animation speed is controlled here */
.flipper {
    transition: 10s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-box: fill-box;
    -webkit-transform-box: fill-box;
}
    .flip-dir-up .flipper {
        transform-origin: center top;
    }

    .flip-dir-down .flipper {
        transform-origin: center bottom;
    }

    .flip-dir-left .flipper {
        transform-origin: left center;
    }

    .flip-dir-right .flipper {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transform-origin: right center;
    }

/* hide back of pane during swap */
.front, .back {
    opacity: .99;
    /*backface-visibility: visible;*/
    backface-visibility: hidden;
    /*-webkit-backface-visibility: visible;*/
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.flip-dir-left .back,
.flip-dir-right .back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-box: fill-box;
    -webkit-transform-box: fill-box;
    transform-origin: center;
    -webkit-transform-origin: center;
    transform: rotateY(180deg);
}

.flip-dir-up .back,
.flip-dir-down .back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-box: fill-box;
    transform: rotateX(180deg);
}

.flap-info {
    overflow: hidden;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: black;
    color: white;
    z-index: 10000;
}

#custom-description {
    color: white;
    margin-top: 10%;
    margin-bottom: 10%;
}

.hidden {
    display: none;
}

#indicators {
    text-align: center;
}

span { cursor: pointer; }

#startup{
  text-align: center;
}

.is-scrollable {
    overflow-y: scroll;
    text-align: left;
    padding: 5px;
    line-height: 1.2em;
}

.title {
    text-align: left;
}

#return {
    margin-top: 10%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

header {
    background-color: #fbfbfb;
    padding: 1em 1em 1em 2em;
    color: #1a1a1a;
    border-bottom: 1px solid #ccc;
}

header h1 {
    font-size: 1.4em;
}

footer {
    background-color: #fbfbfb;
    padding: 2em 10em 2em 10em;
    color: #1a1a1a;
    text-align: center;
    border-top: 1px solid #ccc;
}

footer img {
    height: 75px;
    width: auto;
    margin-bottom: 10px;
}

footer p {
    margin-bottom: 1em;
}

.flex {
    display: flex;
}

.flex svg {
    flex-grow: 2;
    flex-basis: 0;
}

.flex .flap-info {
    flex-grow: 1;
    flex-basis: 0;
}